.zaiStock {
    &-btn {
        border: toRem(1) solid $primary;
        border-radius: toRem(10);
        background-color: $primary;
        padding: toRem(14) toRem(34);
        @include fontFamily(14, $fw_semiBold, 20, $white-text !important);
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0%;
            height: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            z-index: -1;
        }
        &:hover {
            &::before {
                width: 100%;
            }
            &::after {
                width: 100%;
            }
        }
        @media screen and (max-width: 767px) {
            padding: toRem(14) toRem(24);
        }
        &-black {
            border: toRem(1) solid $primary-dark-text;
            border-radius: toRem(10);
            background-color: $primary-dark-text;
            padding: toRem(14) toRem(34);
            @include fontFamily(14, $fw_semiBold, 20, $white !important);
            @media screen and (max-width: 767px) {
                padding: toRem(14) toRem(24);
            }
        }
        &-secondary {
            border: toRem(1) solid $secondary;
            border-radius: toRem(10);
            background-color: $secondary;
            padding: toRem(14) toRem(34);
            @include fontFamily(14, $fw_semiBold, 20, $primary !important);
            transition: all 0.3s;
            @media screen and (max-width: 767px) {
                padding: toRem(14) toRem(24);
            }
            &:hover {
                background-color: $primary;
                color: $white !important;
            }
        }
        &-follow {
            border: none;
            border-radius: toRem(8);
            background-color: $primary;
            padding: toRem(5) toRem(18);
            @include fontFamily(14, $fw_semiBold, 24, $white !important);
        }
        &-unfollow {
            border: none;
            border-radius: toRem(8);
            background-color: $secondary;
            padding: toRem(5) toRem(18);
            @include fontFamily(14, $fw_semiBold, 24, $primary !important);
        }
        &-cancel {
            border: none;
            border-radius: toRem(8);
            background-color: $red-light;
            padding: toRem(14) toRem(34);
            @include fontFamily(14, $fw_semiBold, 24, $red !important);
            @media screen and (max-width: 767px) {
                padding: toRem(14) toRem(24);
            }
        }
    }
    &-hover {
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0%;
            height: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            z-index: -1;
        }
        &:hover {
            &::before {
                width: 100%;
            }
            &::after {
                width: 100%;
            }
        }
    }
}
.logoutBtn {
    display: inline-flex;
    align-items: center;
    gap: toRem(5);
    padding: toRem(5) toRem(18);
    border-radius: toRem(8);
    background-color: $secondary;
    @include fontFamily(14, $fw_regular, 24, $primary !important);
}
